Example 7-11. Factorial implemented with reduce and an anonymous function

In [1]:
from functools import reduce

def factorial(x):
    return reduce(lambda x,y: x*y, range(1, x+1))

print(factorial(5))

120

Example 7-13. Demo of `itemgetter` to sort a list of tuples by two fields

In [1]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

In [2]:
sorted(metro_data)

[('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667))]

In [6]:
from operator import itemgetter

cc_name = itemgetter(1, 0)
sorted(metro_data, key=cc_name)

[('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386))]

利用`itemgetter`对字典列表排序

In [9]:
from operator import itemgetter

# 创建一个包含字典的列表
data = [
    {'name': 'John', 'age': 25, 'city': 'New York'},
    {'name': 'Alice', 'age': 30, 'city': 'London'},
    {'name': 'Bob', 'age': 20, 'city': 'Paris'}
]

# print(sorted(data)) 
# 直接对字典列表会报错
# TypeError: '<' not supported between instances of 'dict' and 'dict'


# 创建一个itemgetter对象来获取'name'和'age'键的值
get_name_age = itemgetter('name', 'age')

# 使用itemgetter对象来获取每个字典的'name'和'age'的值
for person in sorted(data, key=get_name_age):
    name, age = get_name_age(person)
    print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 30
Name: Bob, Age: 20
Name: John, Age: 25

Example 7-14. Demo of `attrgetter` to process a previously defined list of `namedtuple` called `metro_data` (the same list that appears in Example 7-13)

In [7]:
from collections import namedtuple
LatLon = namedtuple('LatLon', 'lat lon')
Metropolis = namedtuple('Metropolis', 'name cc pop coord')
metro_areas = [Metropolis(name, cc, pop, LatLon(lat, lon))
                for name, cc, pop, (lat, lon) in metro_data]
print(metro_areas[0])

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLon(lat=35.689722, lon=139.691667))

In [8]:
metro_areas[0].coord.lat

35.689722

In [10]:
from operator import attrgetter

name_lat = attrgetter('name', 'coord.lat')

for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(city.name, city.coord.lat, sep=' | ')
    print(name_lat(city))

Sao Paulo | -23.547778
('Sao Paulo', -23.547778)
Mexico City | 19.433333
('Mexico City', 19.433333)
Delhi NCR | 28.613889
('Delhi NCR', 28.613889)
Tokyo | 35.689722
('Tokyo', 35.689722)
New York-Newark | 40.808611
('New York-Newark', 40.808611)